@import "node_modules/bootstrap/scss/bootstrap-reboot.scss";


$dark-border: 1px solid $gray-400;
$light-border: 1px solid $gray-300;

$mobile-breakpoint: 37.5rem;


body {
    background-color: $gray-200;
    color: $gray-700
}

a {
    text-decoration: none;
    color: $gray-600
}

time {
    font-style: italic
}

pre,
code {
    font-size: 0.875rem;
    font-family: monospace;
    background-color: $gray-200
}

h1 code,
h2 code,
h3 code {
    font-size: inherit
}

pre {
    padding: 0.625rem;
    overflow: auto
}

nav {
    background-color: $gray-700;
    color: $gray-200
}

nav a {
    font-size: 1.125rem;
    padding: 0.25rem 0.625rem;
    color: $gray-200
}

nav a:hover {
    background-color: $gray-900;
    color: $white;
    text-decoration: none
}

nav a:first-child {
    margin-right: auto
}

#content {
    border: $light-border;
    background-color: $gray-100
}

#content a:visited,
#content a:hover {
    color: $gray-900
}

.front-entry {
    padding: 0.5rem;
    border-bottom: $dark-border
}

@media (min-width: $mobile-breakpoint) {
    .front-entry {
        padding: 1rem 1.5rem
    }
}

.front-entry h1, .front-entry p {
    margin: 0
}

.front-entry .snub {
    padding: 1rem 0 0.625rem 0
}

.front-entry header a {
    font-size: 1.5rem;
    color: $gray-900
}

#pagination {
    margin: 1.25rem auto;
    font-size: 1.125rem
}

#pagination a,
#pagination span {
    margin: auto 0.375rem
}

@media (min-width: $mobile-breakpoint) {
    #pagination a,
    #pagination span {
        margin: auto 0.5rem
    }
}

.entry {
    padding: 0.5rem
}

@media (min-width: $mobile-breakpoint) {
    .entry {
        padding: 1.5rem
    }

    .entry > div {
        order: 1
    }
}

.entry h1 {
    margin: 2rem 0 0.625rem 0;
    font-size: 1.75rem;
}

.entry h2 {
    font-size: 1.5rem;
    margin: 1.5rem 0 0.625rem 0;
    border-bottom: $dark-border
}

.entry h3 {
    font-size: 1.25rem;
    margin: 1.25rem 0 0.5rem 0
}

.entry header {
    align-items: center;
    margin-bottom: 1.5rem;
    padding-bottom: 0.375rem;
    border-bottom: $dark-border
}

@media (min-width: $mobile-breakpoint) {
    .entry header {
        align-items: baseline
    }
}

.entry header h1 {
    margin-top: 0.625rem;
    text-align: center
}

@media (min-width: $mobile-breakpoint) {
    .entry header h1 {
        text-align: unset
    }
}

.entry time {
    margin: 0.375rem
}

#navigation {
    flex-direction: column;
    align-items: center;
    padding-top: 0.375rem;
    border-top: $dark-border
}

#navigation a {
    display: block;
    margin: 0.5rem 0
}

@media (min-width: $mobile-breakpoint) {
    #navigation {
        flex-direction: row;
        align-items: initial;
        justify-content: space-between;
        order: 0;
        padding: 0;
        margin-bottom: 1.25rem;
        border-top: none
    }

    #navigation a {
        display: initial;
        margin: 0
    }
}

#tags {
    flex-wrap: wrap;
    justify-content: center
}

@media (min-width: $mobile-breakpoint) {
    #tags {
        justify-content: start
    }
}

#tags a {
    margin: 0 0.375rem;
    font-style: italic
}

.spoiler {
    background-color: $black;
    color: $black
}

.spoiler:hover {
    color: $white
}

#archive {
    margin: 0.5rem 1rem
}

@media (min-width: $mobile-breakpoint) {
    #archive {
        margin: 1.5rem
    }
}

#archive ul {
    padding-left: 1rem
}

@media (min-width: $mobile-breakpoint) {
    #archive ul {
        padding-left: 2rem
    }
}

#archive li {
    list-style-type: square
}

.flex {
    display: flex
}

.flex.column {
    flex-direction: column
}

.flex.centred {
    width: 100%;
    margin: 0 auto
}

@media (min-width: $mobile-breakpoint) {
    .flex.centred {
        max-width: 50rem
    }
}

.arrow {
    font-size: 0.875rem;
    user-select: none;
    cursor: pointer
}

.arrow:hover {
    text-decoration: none
}

.arrow.left.double:before {
    content: "◀◀"
}

.arrow.right.double:before {
    content: "▶▶"
}

.arrow.left:before {
    content: "◀"
}

.arrow.right:before {
    content: "▶"
}
