@import "node_modules/bootswatch/dist/cyborg/variables";

$mobile-breakpoint: 37.5rem;
$border: 1px solid $gray-700;

$body-bg: $black;
$body-color: $gray-400;

$link-color: $gray-300;
$link-hover-color: $white;
$link-hover-decoration: none;

@import "node_modules/bootstrap/scss/bootstrap-reboot";


time {
    font-style: italic
}

code {
    font-size: 0.875rem;
    font-family: monospace;
}

pre {
    @extend code;

    padding: 0.625rem;
    overflow: auto
}

h1, h2, h3, h4, h5, h6, nav, #navigation, #pagination {
    font-family: serif;
    font-variant: small-caps;
    font-feature-settings: initial
}


h1 code,
h2 code,
h3 code {
    font-size: inherit
}

nav {
    align-items: center;
    border-bottom: $border;

    a {
        padding: 0.5rem 0.625rem;

        &:hover {
            text-decoration: none
        }

        &:first-child {
            font-size: 1.125rem;
            color: $gray-200;
            margin-right: auto;
        }
    }
}


.front-entry {
    margin: 0.5rem;
    padding-bottom: 0.2rem;
    border-bottom: $border;

    @media (min-width: $mobile-breakpoint) {
        margin: 1rem 1.5rem
    }

    h1,
    p {
        margin: 0
    }

    .stub {
        padding: 1rem 0 0.625rem 0
    }

    header a {
        font-size: 1.5rem
    }
}

#pagination {
    margin: 1.25rem auto;
    font-size: 1.125rem;

    a,
    span {
        margin: auto 0.375rem;

        @media (min-width: $mobile-breakpoint) {
            margin: auto 0.5rem
        }
    }
}

.entry {
    padding: 0.5rem;

    @media (min-width: $mobile-breakpoint) {
        padding: 1.5rem;
    }

    & > div {
        @media (min-width: $mobile-breakpoint) {
            order: 1
        }
    }

    h1 {
        margin: 2rem 0 0.625rem 0;
        font-size: 1.75rem
    }

    h2 {
        font-size: 1.5rem;
        margin: 1.5rem 0 0.625rem 0;
        border-bottom: $border
    }

    h3 {
        font-size: 1.25rem;
        margin: 1.25rem 0 0.5rem 0
    }

    header {
        align-items: center;
        margin-bottom: 1.5rem;
        padding-bottom: 0.375rem;
        border-bottom: $border;

        @media (min-width: $mobile-breakpoint) {
            align-items: baseline
        }

        h1 {
            margin-top: 0.625rem;
            text-align: center;

            @media (min-width: $mobile-breakpoint) {
                text-align: unset
            }
        }
    }

    time {
        margin: 0.375rem
    }
}

#navigation {
    flex-direction: column;
    align-items: center;
    padding-top: 0.375rem;
    border-top: $border;

    @media (min-width: $mobile-breakpoint) {
        flex-direction: row;
        align-items: initial;
        justify-content: space-between;
        order: 0;
        padding: 0;
        margin-bottom: 1.25rem;
        border-top: none
    }

    a {
        display: block;
        margin: 0.5rem 0;

        @media (min-width: $mobile-breakpoint) {
            display: initial;
            margin: 0
        }
    }
}

#tags {
    flex-wrap: wrap;
    justify-content: center;

    @media (min-width: $mobile-breakpoint) {
        justify-content: start
    }

    a {
        margin: 0 0.375rem;
        font-style: italic
    }
}

.spoiler {
    background-color: $white;
    color: $white;

    &:hover {
        color: $black
    }
}

#archive {
    margin: 0.5rem 1rem;

    @media (min-width: $mobile-breakpoint) {
        margin: 1.5rem
    }

    ul {
        padding-left: 1rem;

        @media (min-width: $mobile-breakpoint) {
            padding-left: 2rem
        }
    }

    li {
        list-style-type: square
    }
}

.flex {
    display: flex;

    &.column {
        flex-direction: column
    }

    &.centred-v {
        width: 100%;
        margin: 0 auto;

        @media (min-width: $mobile-breakpoint) {
            max-width: 50rem
        }
    }

    &.centred-h {
        align-items: center
    }
}

.arrow {
    font-size: 0.875rem;
    user-select: none;
    cursor: pointer;

    &:hover {
        text-decoration: none
    }

    &.left.double:before {
        content: "◀◀"
    }

    &.right.double:before {
        content: "▶▶"
    }

    &.left:before {
        content: "◀"
    }

    &.right:before {
        content: "▶"
    }
}


img[data-lazy-url] {
    min-height: 1rem;
    min-width: 1rem;
    max-width: 100%;
}
