@import url('https://fonts.googleapis.com/css?family=Droid+Sans:400,700');

/* base styles */
* {
    font-family: 'Droid Sans', sans-serif;
    /* mobile-first, so large fonts by default */
    line-height: 1.6;
    word-wrap: break-word;
    /* for consistent mobile font sizes */
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    text-size-adjust: none;
}

body {
    font-size: 34px;
    margin: 0;
    background-color: #EEEEEE;
    color: #555555;
}

.flex {
    display: flex;
}

.flex.column {
    flex-direction: column;
}

.flex.centred {
    width: 100%;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: #777777;
}

time {
    font-style: italic;
}

pre, code {
    font-size: 30px;
    font-family: monospace;
    background-color: #EEEEEE;
}

h1 code, h2 code, h3 code {
    font-size: inherit;
}

pre {
    padding: 10px;
    overflow: auto;
}


/* nav bar */
nav {
    background-color: #555555;
    color: #EEEEEE;
}

nav a {
    font-size: 40px;
    padding: 15px 25px;
    color: #EEEEEE;
}

nav a:hover {
    background-color: #222222;
}

nav a:first-child {
    margin-right: auto;
}


/* content */
#content {
    border: 1px solid #E1E1E1;
    background-color: #F7F7F7;
}

#content a:visited, #content a:hover {
    color: #222222;
}


/* front page */
.front-entry {
    padding: 25px 40px;
    border-bottom: 1px solid #CCCCCC;
}

.front-entry h1, .front-entry p {
    margin: 0;
}

.front-entry #snub {
    padding: 15px 0 10px 0;
}

.front-entry header a {
    font-size: 46px;
    color: #222222;
}

.front-entry #snub a:hover {
    text-decoration: underline;
}

#pagination {
    margin: 40px auto;
    font-size: 40px;
}

#pagination span, #pagination a  {
    margin: auto 10px;
}

#pagination a:hover {
    text-decoration: underline;
}


/* entries, about page */
.entry {
    padding: 25px;
}

.entry h1 {
    margin: 50px 0 20px 0;
    font-size: 52px;
}

.entry h1:first-child {
    margin-top: 30px;
}

.entry h2 {
    font-size: 48px;
    margin: 24px 0 10px 0;
    border-bottom: 1px solid #CCCCCC;
}

.entry h3 {
    font-size: 40px;
    margin: 20px 0 0 0;
}

.entry header {
    padding-bottom: 15px;
    margin-bottom: 60px;
    border-bottom: 1px solid #CCCCCC;
}

.entry a {
    text-decoration: underline;
}

.entry time {
    margin: 5px;
}

#tags {
    flex-wrap: wrap;
}

#tags a {
    margin: 0 5px;
    font-style: italic;
}

.spoiler {
    background-color: black;
    color: black;
}

.spoiler:hover {
    color: white;
}


/* archive */
#archive li {
    list-style-type: square;
}


/* desktop sizes */
@media only screen and (min-device-width: 601px) {
    body {
        font-size: 16px;
    }

    nav a {
        font-size: 18px;
        padding: 5px 10px;
    }

    .flex.centred {
        width: 800px;
    }

    pre, code {
        font-size: 14px;
    }

    .front-entry {
        padding: 15px 25px;
    }

    .front-entry header a {
        font-size: 24px;
    }

    #pagination {
        margin: 20px auto;
        font-size: 18px;
    }

    #pagination span, #pagination a  {
        margin: auto 5px;
    }

    .entry h1 {
        margin: 32px 0 10px 0;
        font-size: 28px;
    }

    .entry h1:first-child {
        margin-top: 10px;
    }

    .entry h2 {
        font-size: 24px;
    }

    .entry h3 {
        font-size: 18px;
    }

    .entry header {
        padding-bottom: 5px;
        margin-bottom: 32px;
    }
}


/* overrides */
.no-highlight {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}

.default-pointer {
    cursor: default;
}

.first-page-button:before {
    content: "◀◀";
}

.last-page-button:before {
    content: "▶▶";
}

.next-page-button:before {
    content: "▶";
}

.previous-page-button:before {
    content: "◀";
}
