/* base styles */
body {
    display: flex;
    flex-direction: column;

    margin: 0;
    padding: 0;

    font-family: Droid Sans, sans-serif;
    font-size: 34px;

    background-color: #EEEEEE;
    color: #555555;
}

a {
    text-decoration: none;
}


/* nav bar */
nav {
    display: flex;

    font-size: 40px;

    background-color: #555555;
    color: #EEEEEE;
}

.header-item {
    display: flex;
    margin: auto 0;
}

.header-item:first-child {
    margin-left: 10px;
    margin-right: auto;
}

.header-item:last-child {
    margin-right: 10px;
}

.header-item a {
    color: #EEEEEE;
}

.header-item a:hover {
    background-color: #222222;
}


/* content */
#content {
    display: flex;
    width: fit-content;
    padding: 40px;
    margin: auto;

    line-height: 1.6;
    word-wrap: break-word;

    background-color: #F7F7F7;
    border: 1px solid #E1E1E1;
}

#content h1, #content h2, #content h3 {
    line-height: 1.2;
}

#content a {
    color: #777777;
}

#content a:visited, #content a:hover {
    color: #222222;
}

.spoiler {
    background-color: black;
    color: black;
}

.spoiler:hover {
    color: white;
}

.date {
    font-style: italic;
}


/* front page */
#front {
    display: flex;
    flex-direction: column;
    width: 800px;
}

#front a {
    color: #555555;
}

.entry-snub {
    border-bottom: 1px solid #CCCCCC;
}

.entry-snub h1 {
    margin-top: 15px;
    margin-bottom: 5px;
}

#pagination {
    flex-direction: row;
    margin: 20px auto auto auto;
}

#pagination .pagination-item  {
    margin: auto 5px;
}


/* entries, about page */
#entry, #about {
    width: 800px;
}

#entry a, #about a {
    text-decoration: underline;
}

#entry .date, #about .date {
    display: inline;
    margin: 5px;

    line-height: 2;
}

#tags {
    padding: 0 0 30px 0;
    margin: 0;

    border-bottom: 1px solid #CCCCCC;
}

#tags li {
    display: inline;
    margin: 5px;

    font-style: italic;
}


/* archive */
#archive {
    width: 800px
}

#archive ul {
    list-style-type: square;
    padding: 0 25px;
    margin: 0;
}


/* uploads page */
#uploads {
    width: 800px;
}

#uploads table {
    width: 100%;
    border-collapse: collapse;

    font-size: 30px;
}

#uploads thead {
    text-align: left;
}

#uploads .header {
    cursor: pointer;
    font-weight: bold;
}

#uploads .header:before {
    content: "▲ ";
    color: #F7F7F7;
}

#uploads .headerSortDown, .headerSortUp {
    background-color: #EEEEEE;
}

#uploads .headerSortDown:before, .headerSortUp:before {
    color: #555555;
}

#uploads .headerSortUp:before {
    content: "▼ ";
}

#uploads tr {
    border-bottom: 1px solid #CCCCCC;
}

#uploads td, #uploads th {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#uploads td .name, #uploads th .name {
    max-width: 400;
}

#uploads td .size, #uploads th .size {
    max-width: 800 / 6;
}

#uploads td .modified, #uploads th .modified {
    max-width: 800 / 3;
}


/* player page */
#player {
    display: block;
    margin: 0 auto;
}


/* desktop sizes */
@media only screen and (min-device-width: 601px) {
    /* base styles */
    body {
        font-size: 16px;
    }

    /* nav bar */
    nav {
        font-size: 18px;
    }

    nav a {
        padding: 6px 10px;
    }

    nav .separator {
        padding: 6px 4px;
    }

    #front, #entry, #about, #archive, #uploads {
        width: 600px
    }

    /* entries */
    #tags {
        padding: 0 0 10px 0;
    }

    /* uploads */
    #uploads table {
        font-size: 16px;
    }

    #uploads td .name, #uploads th .name {
        max-width: 300;
    }

    #uploads td .size, #uploads th .size {
        max-width: 100;
    }

    #uploads td .modified, #uploads th .modified {
        max-width: 200;
    }
}


/* overrides */
.no-highlight {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}

.default-pointer {
    cursor: default;
}
