{% set NAME = config['NAME'] %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv='X-UA-Compatible' content='IE=edge'/>
        <meta content="width=device-width, initial-scale=1, shrink-to-fit=no"
              name="viewport"/>
        {% autoescape false %}
        <link rel="icon"
              type="image/png"
              href="{{ favicon_url }}"/>
        <style>{{ css }}</style>
        {% endautoescape %}
        <title>{{ NAME if title is none else
                  '{} | {}'.format(title, NAME) }}</title>
    </head>
    <body class="flex column">
        <nav class="flex">
            <div class="flex centred-v centred-h">
                <a href="{{ url_for('controllers.front') }}">
                    {{ NAME }}
                </a>
                <a href="{{ url_for('controllers.archive') }}">
                    Archive
                </a>
                <a href="{{ url_for('controllers.about') }}">
                    About
                </a>
            </div>
        </nav>
        <main class="flex">
            <div class="flex centred-v column">
                {% block content %}
                {% endblock %}
            </div>
        </main>
        {% autoescape false %}
        <script>{{ js }}</script>
        {% endautoescape %}
    </body>
</html>
