{% from "macros.html" import page_url, entry_url, entry_date %}

{% extends "base.html" %}


{% block content %}

{% for entry in paginator.get_entries() %}
    <article class="front-entry">
        <header>
            <h1>
                <a href="{{ entry_url(entry) }}">
                    {{ entry.title }}
                </a>
            </h1>
            {{ entry_date(entry) }}
        </header>
        <section class="stub">
            {{ entry.render_stub() }}
        </section>
    </article>
{% endfor %}

<div class="flex" id="pagination">
    {% if paginator.has_previous_page() %}
        <a class="arrow left double"
            href="{{ page_url(1) }}">
        </a>
        <a class="arrow left"
           href="{{ page_url(paginator.current_page - 1) }}">
        </a>
    {% else %}
        <span class="arrow left double">
        </span>
        <span class="arrow left">
        </span>
    {% endif %}

    {% for page in paginator.page_number_group() %}
        {% if page == paginator.current_page %}
            <span class="page">
                {{ page }}
            </span>
        {% else %}
            <a class="page" href="{{ page_url(page) }}">
                {{ page }}
            </a>
        {% endif %}
    {% endfor %}

    {% if paginator.has_next_page() %}
        <a class="arrow right"
           href="{{ page_url(paginator.current_page + 1) }}">
        </a>
        <a class="arrow right double"
           href="{{ page_url(paginator.get_total_pages()) }}">
        </a>
    {% else %}
        <span class="arrow right">
        </span>
        <span class="arrow right double">
        </span>
    {% endif %}
</div>

{% endblock %}
