{% extends "base.html" %}
{% block content %}
    <table class="uploads_table">
        <thead>
            <tr>
                <th>Filename</th>
                <th>Size</th>
                <th>Date Modified</th>
            </tr>
        </thead>
        <tbody>
            {% for upload in files %}
                <tr>
                    <td>
                        <a href="{{ upload.url }}">
                            {{ upload.path.name }}
                        </a>
                    </td>
                    <td>{{ upload.stat.st_size | filesizeformat }}</td>
                    <td>
                        <time datetime="{{ upload.date_modified }}">
                            {{ upload.date_modified | format_datetime }}
                        </time>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
