{% extends "base.html" %}
{% block content %}
    <table class="uploads_table">
        <thead>
            <tr>
                <th>Filename</th>
                <th>Size</th>
                <th>Date Modified</th>
            </tr>
        </thead>
        <tbody>
            {% for path, stat in files %}
                <tr>
                    <td>
                        <a href="{{ url_for('uploads_view', filename=path.name) }}">
                            {{ path.name }}
                        </a>
                    </td>
                    <td>{{ stat.st_size | filesizeformat }}</td>
                    {% set date_modified = stat.st_mtime | parse_timestamp %}
                    <td>
                        <time datetime="{{ date_modified }}">
                            {{ date_modified | format_datetime }}
                        </time>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
