$background-colour: #EEEEEE;
$text-colour: #444444;
$rule-border: 1px solid #CCCCCC;

$fonts: Noto Sans, sans-serif;

$desktop-min-width: 1000px;
$desktop-width: 600px;
$desktop-font-size: 15px;
$desktop-nav-font-size: 16px;
$desktop-pages-font-size: 16px;
$desktop-nav-border: 1px solid $background-colour;

$mobile-width: 800px;
$mobile-font-size: 34px;
$mobile-nav-font-size: 40px;
$mobile-pages-font-size: 40px;
$mobile-nav-border: 3px solid $background-colour;

body {
    margin: 0;
    font-size: $mobile-font-size;
    @media (min-width: $desktop-min-width) {
        font-size: $desktop-font-size;
    }
    font-family: $fonts;
    background-color: $background-colour;
    color: $text-colour;

    a {
        text-decoration: none;
    }
}

nav {
    font-size: $mobile-nav-font-size;
    @media (min-width: $desktop-min-width) {
        font-size: $desktop-nav-font-size;
    }

    ul {
        background-color: $text-colour;
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

    li {
        float: right;
        border-left: $mobile-nav-border;
        @media (min-width: $desktop-min-width) {
            border-left: $desktop-nav-border;
        }

        &:first-of-type {
            float: left;
            border-left: 0;
            border-right: $mobile-nav-border;
            @media (min-width: $desktop-min-width) {
                border-right: $desktop-nav-border;
            }
        }

        &:hover {
            background-color: #333333;
        }
    }

    a {
        color: $background-colour;
        display: block;
        text-align: center;
        padding: 20px 10px;
        @media (min-width: $desktop-min-width) {
            padding: 6px 10px;
        }
    }
}

#content {
    line-height: 1.6;
    margin: 40px auto;
    max-width: $mobile-width;
    @media (min-width: $desktop-min-width) {
        max-width: $desktop-width;
    }
    word-wrap: break-word;

    a {
        &:hover {
            text-decoration: underline;
        }
    }

    h1, h2, h3 {
        line-height: 1.2;
    }

    .spoiler {
        background-color: black;
        color: black;

        &:hover {
            color: white;
        }
    }

    .date {
        font-style: italic;
    }

    #front {
        .front-entry {
            border-bottom: $rule-border;

            h1 {
                margin-top: 15px;
                margin-bottom: 5px;
            }
        }

        #pages {
            text-align: center;
            margin-top: 15px;
            font-size: $mobile-pages-font-size;
            @media (min-width: $desktop-min-width) {
                font-size: $desktop-pages-font-size;
            }
        }
    }

    #id {
        .date {
            line-height: 2;
            display: inline;
            margin: 5px;
        }

        #tags {
            padding: 0;
            margin: 0;

            li {
                font-style: italic;
                display: inline;
                margin: 5px;
            }
        }
    }

    #uploads {
        table {
            font-size: 30px;
            @media (min-width: $desktop-min-width) {
                font-size: $desktop-font-size;
            }
            border-collapse: collapse;
            width: 100%;

            thead {
                text-align: left;
            }

            tr {
                border-bottom: $rule-border;
            }

            td, th {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;

                &.name {
                    max-width: $mobile-width / 2;
                    @media (min-width: $desktop-min-width) {
                        max-width: $desktop-width / 2;
                    }
                }
                &.size {
                    max-width: $mobile-width / 6;
                    @media (min-width: $desktop-min-width) {
                        max-width: $desktop-width / 6;
                    }
                }
                &.modified {
                    max-width: $mobile-width / 3;
                    @media (min-width: $desktop-min-width) {
                        max-width: $desktop-width / 3;
                    }
                }
            }
        }
    }

    #player {
        display: block;
        margin: 0 auto;
        max-width: $mobile-width;
        @media (min-width: $desktop-min-width) {
            max-width: $desktop-width;
        }
    }
}
