$background-colour: #EEEEEE;
$inner-background-colour: #F7F7F7;

$text-colour: #555555;
$link-colour: #777777;
$clicked-link-colour: #222222;

$rule-border: 1px solid #CCCCCC;
$nav-border: 1px solid $background-colour;
$inner-border: 1px solid #E1E1E1;

$fonts: 'Droid Sans', sans-serif;

$desktop-min-width: 601px;
$desktop-width: 600px;
$desktop-font-size: 16px;
$desktop-nav-font-size: 17px;
$desktop-pages-font-size: 17px;

$mobile-width: 800px;
$mobile-font-size: 34px;
$mobile-nav-font-size: 40px;
$mobile-pages-font-size: 40px;


body {
    margin: 0;
    font-size: $mobile-font-size;
    @media only screen and (min-device-width: $desktop-min-width) {
        font-size: $desktop-font-size;
    }
    font-family: $fonts;
    background-color: $background-colour;
    color: $text-colour;

    a {
        text-decoration: none;
    }
}


nav {
    font-size: $mobile-nav-font-size;
    @media only screen and (min-device-width: $desktop-min-width) {
        font-size: $desktop-nav-font-size;
    }

    ul {
        background-color: $text-colour;
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

    li {
        float: right;

        &:first-of-type {
            float: left;
        }

        a, .separator {
            color: $background-colour;
            display: block;
            text-align: center;
        }

        a {
            padding: 20px 10px;
            @media only screen and (min-device-width: $desktop-min-width) {
                padding: 6px 10px;
            }

            &:hover {
                background-color: $clicked-link-colour;
            }
        }

        .separator {
            padding: 20px 4px;
            @media only screen and (min-device-width: $desktop-min-width) {
                padding: 6px 4px;
            }

            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
    }
}


#content {
    line-height: 1.6;
    margin: 0 auto;
    padding: 40px;
    max-width: $mobile-width;
    @media only screen and (min-device-width: $desktop-min-width) {
        max-width: $desktop-width;
    }
    word-wrap: break-word;
    background-color: $inner-background-colour;
    border: $inner-border;

    h1, h2, h3 {
        line-height: 1.2;
    }

    a {
        color: $link-colour;

        &:visited, &:hover  {
            color: $clicked-link-colour;
        }
    }

    .spoiler {
        background-color: black;
        color: black;

        &:hover {
            color: white;
        }
    }

    .date {
        font-style: italic;
    }

    #front {
        a {
            color: $text-colour;

            &:visited, &:hover  {
                color: $clicked-link-colour;
            }
        }

        .front-entry {
            border-bottom: $rule-border;

            h1 {
                margin-top: 15px;
                margin-bottom: 5px;
            }
        }

        #pages {
            font-weight: bold;
            text-align: center;
            margin-top: 15px;
            font-size: $mobile-pages-font-size;
            @media only screen and (min-device-width: $desktop-min-width) {
                font-size: $desktop-pages-font-size;
            }
        }
    }

    #entry, #about {
        a {
            text-decoration: underline;
        }

        .date {
            line-height: 2;
            display: inline;
            margin: 5px;
        }

        #tags {
            padding: 0 0 30px 0;
            @media only screen and (min-device-width: $desktop-min-width) {
                padding: 0 0 10px 0;
            }
            margin: 0;
            border-bottom: $rule-border;

            li {
                font-style: italic;
                display: inline;
                margin: 5px;
            }
        }
    }

    #uploads {
        table {
            font-size: 30px;
            @media only screen and (min-device-width: $desktop-min-width) {
                font-size: $desktop-font-size;
            }
            border-collapse: collapse;
            width: 100%;

            thead {
                text-align: left;

                .header {
                    cursor: pointer;
                    font-weight: bold;
                    &:before {
                        content: "▲ ";
                        color: $inner-background-colour;
                    }
                }

                .headerSortDown {
                    background-color: $background-colour;
                    &:before {
                        color: $text-colour;
                    }
                }

                .headerSortUp {
                    background-color: $background-colour;
                    &:before {
                        content: "▼ ";
                        color: $text-colour;
                    }
                }
            }

            tr {
                border-bottom: $rule-border;
            }

            td, th {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;

                &.name {
                    max-width: $mobile-width / 2;
                    @media only screen and (min-device-width: $desktop-min-width) {
                        max-width: $desktop-width / 2;
                    }
                }
                &.size {
                    max-width: $mobile-width / 6;
                    @media only screen and (min-device-width: $desktop-min-width) {
                        max-width: $desktop-width / 6;
                    }
                }
                &.modified {
                    max-width: $mobile-width / 3;
                    @media only screen and (min-device-width: $desktop-min-width) {
                        max-width: $desktop-width / 3;
                    }
                }
            }
        }
    }

    #player {
        display: block;
        margin: 0 auto;
        max-width: $mobile-width;
        @media only screen and (min-device-width: $desktop-min-width) {
            max-width: $desktop-width;
        }
    }
}
