{% extends "base.html" %}
{% block content %}
    <h1>What is this site?</h1>
    <p>Thoughts on video games mostly, sometimes television or programming too. Expect them to be nonsensical, unresearched, biased, shallow, hypocritical, etc, all the good stuff.</p>
    <p>If you have feedback or just want to make a comment then too bad I guess because this is <a href="https://github.com/gregor-smith/muhblog">a very simple static site</a> created with <a href="https://pythonhosted.org/Frozen-Flask/">Frozen-Flask.</a></p>
    <h1>Who even are you?</h1>
    <p>Maybe one day I'll write personal stuff here. You could try contacting through one of the means listed below, but don't hold your breath for a reply.</p>
    <ul>
        <li><a href=https://github.com/gregor-smith/>Bitbucket</a></li>
        <li><a href=https://steamcommunity.com/id/elcr/>Steam</a></li>
        <li><a href=mailto:gregor_smith@outlook.com>Email</a></li>
    </ul>
{% endblock %}
