{% extends "base.html" %}

{% macro entry_line(entry, year, month, day) %}
    <li>
        <a href="/{{ year }}/{{ month }}/{{ day }}/{{ entry.title_slug }}">{{ entry.title }}</a>
    </li>
{% endmacro %}

{% macro day_lines(entry, year, month, day) %}
    <a href="/{{ year }}/{{ month }}/{{ day }}">{{ day }}</a>
    <ul>
        {{ entry_line(entry, year, month, day) }}
{% endmacro %}

{% macro month_lines(entry, year, month) %}
    <ul>
        <li>
            <a href="/{{ year }}/{{ month }}">{{ month }}</a>
            <ul>
                <li>
{% endmacro %}

{% set last_year = 9999 %}
{% set last_month = 99 %}
{% set last_day = 99 %}

{% block content %}
    <ul>
        {% for entry in entries %}
            {% set year = entry.datetime_written.year %}
            {% set month = entry.datetime_written.month %}
            {% set month_str = '{:0>2}'.format(month) %}
            {% set day = entry.datetime_written.day %}
            {% set day_str = '{:0>2}'.format(day) %}
            {% if year < last_year %}
                {% if last_year != 9999 %}
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                {% endif %}
                <li>
                    <a href="/{{ year }}">{{ year }}</a>
                {{ month_lines(entry, year, month_str) }}
                    {{ day_lines(entry, year, month_str, day_str) }}
                {% set last_year = year %}
                {% set last_month = month %}
                {% set last_day = day %}
            {% elif month < last_month %}
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
                {{ month_lines(entry, year, month_str) }}
                    {{ day_lines(entry, year, month_str, day_str) }}
                {% set last_month = month %}
                {% set last_day = day %}
            {% elif day < last_day %}
                    </ul>
                </li>
                <li>
                    {{ day_lines(entry, year, month_str, day_str) }}
                {% set last_day = day %}
            {% elif day == last_day %}
                {{ entry_line(entry, year, month_str, day_str) }}
            {% endif %}
        {% endfor %}
    </ul>
{% endblock %}
