{% set BLOG_NAME = config['BLOG_NAME'] %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{ BLOG_NAME if title is none else
                  '{} | {}'.format(title, BLOG_NAME) }}</title>
        <link rel="stylesheet" type="text/css"
         href="{{ url_for('site.stylesheet') }}"/>
        <link rel="icon" type="image/png"
         href="{{ url_for('site.favicon') }}"/>
    </head>
    <body class="flex column">
        <nav class="flex">
            <div class="flex centred">
                <a href="{{ url_for('site.front') }}">
                    {{ BLOG_NAME }}
                </a>
                <a href="{{ url_for('site.archive') }}">
                    archive
                </a>
                <a href="{{ url_for('site.about') }}">
                    about
                </a>
            </div>
        </nav>
        <main class="flex">
            <div class="flex centred column" id="content">
                {% block content %}
                {% endblock %}
            </div>
        </main>
    </body>
</html>
