{% extends "base.html" %}

{% block content %}

<article class="entry">
    <header>
        <h1>{{ entry.title }}</h1>
        <time datetime="{{ entry.date | format_datetime_iso }}">
            {{ entry.date | format_datetime }}
        </time>
        <div class="flex" id="tags">
        {% for tag in entry.tags %}
            <a href="{{ tag.definition.url() }}">
                {{ tag.definition.name }}
            </a>
        {% endfor %}
        </div>
    </header>
    <section id="text">
        {{ entry.convert_text() }}
    </section>
</article>

{% endblock %}
