{% extends "base.html" %}
{% block content %}
    <div id="entry">
        <header>
            <h1>{{ title }}</h1>
            <time class="date" datetime="{{ date }}">
                {{ date | format_datetime }}
            </time>
            <ul id="tags">
            {% for tag in tags %}
                <li>
                    <a href="{{ url_for('archive', slug=tag['slug']) }}">
                        {{ tag['name'] }}
                    </a>
                </li>
            {% endfor %}
            </ul>
        </header>
        <div id="text">
            {{ text }}
        </div>
    </div>
{% endblock %}
