{% extends "base.html" %}
{% block content %}
    <div class="uploads">
        <table>
            <thead>
                <tr>
                    <th id="name">Filename</th>
                    <th id="size">Size</th>
                    <th id="date">Date Modified</th>
                </tr>
            </thead>
            <tbody>
                {% for upload in files %}
                    <tr>
                        <td id="name">
                            <a href="{{ url_for(upload['view'], filename=upload['filename']) }}">
                                {{ upload['filename'] }}
                            </a>
                        </td>
                        <td id="size">
                            {{ upload['filesize'] | filesizeformat }}
                        </td>
                        <td id="date">
                            <time datetime="{{ upload['date'] }}">
                                {{ upload['formatted_date'] }}
                            </time>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
