{% extends "base.html" %}

{% block content %}

<div id="uploads">
    <table>
        <thead>
            <tr>
                <th id="name">Filename</th>
                <th id="size">Size</th>
                <th id="date-modified" class="sort-descending">Date Modified</th>
            </tr>
        </thead>
        <tbody id="body">
        {% for upload in files %}
            <tr>
                <td class="name">
                    <a href="{{ upload.player_url() if upload.requires_player() else upload.url() }}">
                        {{ upload.name }}
                    </a>
                </td>
                <td class="size" data-size="{{ upload.size }}">
                    {{ upload.size | filesizeformat }}
                </td>
                <td class="date-modified">
                    <time datetime="{{ upload.date_modified | format_datetime_iso }}">
                        {{ upload.date_modified | format_datetime }}
                    </time>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
